
robotos = roboto-thin roboto-thinitalic roboto-light roboto-lightitalic roboto-regular roboto-italic roboto-medium roboto-mediumitalic roboto-bold roboto-blackitalic roboto-black roboto-bolditalic robotocondensed-light robotocondensed-lightitalic robotocondensed-regular robotocondensed-italic robotocondensed-bold robotocondensed-bolditalic 
fontfaces(roboto, robotos)

/*
sansations = sansation-regular sansation-light sansation-lightitalic sansation-regular sansation-bold sansation-bolditalic sansation-italic
fontfaces(sansation, sansations)

comfortaas = comfortaa_bold comfortaa_regular comfortaa_thin
fontfaces(comfortaa, comfortaas)
*/
