
@media all and (min-width: 1px) and (max-width: 940px)
  .header
    > .icon
      width 2em
      height 2em
    > .copy
      float right
      width 80%
      margin 0 0.5em
      > .title
        font-size 1em
      > .description
        font-size 0.8em

  .outputs
    margin 0.5em 0 0 0
    padding 0
    > .line
      display none
    > .output
      display block
      width auto
      height auto
      border-bottom 1px solid c_mono3
      padding 0.5em
      margin 0
      > .icon
        float left
        padding 0.25em
        width 2em
        height 2em
      > .label
        float left
        margin 0.8em 0 0 0.5em
      > .value
        float right
        text-align left
        margin 1em 0 0 0
  .inputs
    margin 0
    > .group.left, > .group.right
      float none
    > .group
      > .input
        padding 0.5em
        border-bottom 1px solid c_mono3
        > .label
          padding 0
          float left
          font-size 0.8em
        > .tinput
          float right
          text-align right
          > input
            padding 0
            border 1px solid c_mono3
            width 5em
        
