
c_white = #ffffff
c_owhite = #fafafa

c_prime1 = #0091e1
c_prime2 = #1a9ce4
c_prime3 = #4db2ea

c_second1 = #ff9e03
c_second2 = #ffb752

c_mono0 = #333333
c_mono1 = #666666
c_mono2 = #999999
c_mono3 = #cccccc
c_mono4 = #ededed

c_green = #7ad085
c_orange = #ff8034
c_blue = #74bade
c_purple = #b18ed4
c_red = #e25e5b
c_yellow = #f4c320

c_highlight = #f6ffb6
c_selected = #b6ffc5

.clear
  clearfix()
