
c_white = #ffffff
c_owhite = #fafafa

c_mono0 = #333333
c_mono1 = #666666
c_mono2 = #999999
c_mono3 = #cccccc
c_mono4 = #ededed

c_green = #7ad085
c_orange = #ff8034
c_blue = #74bade
c_purple = #b18ed4
c_red = #e25e5b
c_yellow = #f4c320

.clear
  clearfix()
