.title Dab Calc
.outputs
  .line

  .output.wyi
    .icon
      include ../svg/pie30.svg
    .label Wax Yield
    .value
      span.d
      span.v 0
    .clear


  .output.cwp
    .icon
      include ../svg/return8.svg
    .label Cost of Batch
    .value
      span.d
      span.v 0
    .clear

  .output.ppg
    .icon
      include ../svg/dollars5.svg
    .label Profit Per Gram
    .value
      span.d
      span.v 0
    .clear

  .output.ppb
    .icon
      include ../svg/money315.svg
    .label Profit Per Batch
    .value
      span.d
      span.v 0
    .clear

