
extends layout
block content

  .header
    .icon 
      include ../svg/logo.svg
    .copy
      .title #{self.config.meta.title}
      .description #{self.config.meta.description}
    .clear

  .calcs
    .calc.budcalc
      include budcalc
      .clear
    .calc.dabcalc
      include dabcalc

        .clear

  //.bob math goes here

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./pub/jst/i.js', 'I');
    }
